<section class="section-sm pb-0" style="padding: 200px;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h1 class="page-not-found-title">404</h1>
            <div style="padding: 20px;"></div>
            <h3 class="page-not-found-title"><span style="color: rgb(247, 155, 155);">Oops..</span> The page you're looking for doesn't exist !</h3>
            <div style="padding: 20px;"></div>
            <a routerLink="/" class="btn btn-primary">Back to home</a>
          </div>
        </div>
      </div>
    </div>
  </section>
