<div class="container mt-4" style="padding-top: 120px;">


    <h2 class="text-center">Create a Blog</h2>
    <form #articleForm="ngForm" (ngSubmit)="create()">
    <div class="col-12 mx-auto">
          <!-- Title Input -->
      <input 
      [(ngModel)]="article.title" 
      name="title"
      type="text" 
      class="form-control m-1" 
      placeholder="Title"
      required
      minlength="5"
      maxlength="120"
      #title="ngModel">
    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger m-1">
      <div *ngIf="title.errors?.['required']">Title is required</div>
      <div *ngIf="title.errors?.['minlength']">Minimum 5 characters</div>
      <div *ngIf="title.errors?.['maxlength']">Maximum 120 characters</div>
    </div>


    <!-- Tags Section -->
    <div class="m-1" *ngIf="article.tags?.length > 0">
      <ul class="list-inline">
        <li *ngFor="let tag of article.tags" class="list-inline-item badge bg-secondary">
          {{tag}} <span (click)="article.tags.splice(article.tags.indexOf(tag),1)">&times;</span>
        </li>
      </ul>
    </div>
    <div class="row m-1">
      <input 
        type="text"
        class="form-control w-75"
        placeholder="Add tag"
        [(ngModel)]="tag"
        name="newTag"
        #tagInput="ngModel"
        required
        minlength="2"
        maxlength="20">
      <button 
        class="btn btn-dark w-25" 
        (click)="article.tags.push(tag); tag=''"
        [disabled]="tagInput.invalid">
        Add
      </button>
    </div>
    <input 
    type="hidden" 
    [ngModel]="tagsValid ? 'valid' : null"
    name="tags"
    #tags="ngModel"
    required>
    <div *ngIf="tags.invalid" class="text-danger m-1">At least one tag is required</div>
     
           <!-- Image Upload -->
    <input 
      type="file"
      class="form-control m-1"
      placeholder="Image"
      (change)="select($event)"
      required
      #fileInput
      name="image">
      <div *ngIf="fileInput.value === '' && articleForm.submitted" class="text-danger">
        Image is required
      </div>
          <!-- Description -->
    <textarea
    [(ngModel)]="article.description"
    name="description"
    class="form-control m-1"
    placeholder="Description"
    required
    minlength="5"
    #description="ngModel"></textarea>
  <div *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger m-1">
    <div *ngIf="description.errors?.['required']">Description is required</div>
    <div *ngIf="description.errors?.['minlength']">Minimum 5 characters</div>
  </div>

    <!-- Content Editor -->
    <div class="m-1">
      <angular-editor
        [config]="editorConfig"
        [(ngModel)]="article.content"
        name="content"
        required
        #content="ngModel"></angular-editor>
      <div *ngIf="content.invalid && (content.dirty || content.touched)" class="text-danger">
        Content is required
      </div>
    </div>

  <!-- Submit Button -->
  <button 
  type="submit" 
  class="starbtn" 
  [disabled]="isLoading">
  <div *ngIf="!isLoading">CREATE</div>
  <div *ngIf="isLoading" style="color: white;">CREATING...</div>
  <div *ngIf="isLoading" class="spinner"></div>
            <div id="container-stars">
              <div id="stars"></div>
            </div>
            <div id="glow">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </button>
    </div>
  </form>
  
</div>
