<!-- Footer Starts Here -->
<footer class="footer" style="margin-top: 50px;">
    <div class="container">
        <div class="row justify-content-lg-between">
            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                    <a href="index.html">
                    <img src="assets/images/ngblog_w.png" alt="ngBlog" width="150" height="50">
                    </a>
                    <p>
                        <span style="font-weight:bold;color:rgb(241, 158, 158);">Ng</span><span style="font-weight:bold;color: white;">Blog</span> is your go-to source for insightful articles on Angular, JavaScript, web development, technology, and diversity.... 
                    </p>
                    <p>Join us to stay updated and inspired.</p>
                </div>
            </div>
            <div class="col-lg-1 col-md-2">
                <div class="footer-wizard">
                    <h6>Category</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Angular</a></li>
                        <li><a href="#">Web Devlopment</a></li>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Ai</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3">
                <div class="footer-wizard">
                    <h6>Follow us</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">linkedin</a></li>
                        <li><a href="#">Youtube</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer-wizard">
                    <h6>Newsletter</h6>
                    <form action="#">
                        <div class="footer-wizard-form">
                            <input type="email" placeholder="Enter Email">
                            <button class="btn btn-default btn-default-sm">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <p>&#64; 2025 - NGBlog</p>
            <p>Develop by <a href="https://www.linkedin.com/in/arbi-jridi/">Arbi Jridi</a></p>
        </div>
    </div>
</footer>
<!-- Footer Ends Here -->
